<form action="#" onsubmit="return false" name="objectEmailForm" class="objectEmailForm">
	<div class="form-body">
		<div class="form-group">
			<label for="object_email">Object email : </label>
			<input type="email" name="object_email" class="form-control" ng-model="objectEmail.object_email">
		</div>
		<div class="form-group">
			<label for="cible">Cible : </label>
			<input type="" name="cible" class="form-control" ng-model="objectEmail.cible">
		</div>
		<div class="form-group">
			<label for="ref_traffic">Ref Traffic : </label>
			<input type="" name="ref_traffic" class="form-control" ng-model="objectEmail.ref_traffic">
		</div>
		<div class="form-group">
			<label for="desinscription">Desinscription : </label>
			<input type="" name="desinscription" class="form-control" ng-model="objectEmail.desinscription">
		</div>
	</div>
</form>