<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
	<md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>Register Form</span></h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<form name="Form">
				<p class="text-error text-center alert alert-danger" ng-class="{'display-block': error != '', 'display-hide': error == ''}">{{error}}</p>
				<md-input-container class="md-block">
					<label>Email</label>
					<input type="email" name="email" ng-model="user.email" required=""/>
					<div ng-messages="Form.email.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">Please enter your email.</div>
						<div ng-message="email" class="my-message">Insert your validate email.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>First Name</label>
					<input type="text" name="fName" ng-model="user.fName" required=""/>
					<div ng-messages="Form.fName.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">Please enter your first name.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Last Name</label>
					<input type="text" name="lName" ng-model="user.lName" required=""/>
					<div ng-messages="Form.lName.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">Please enter your last name.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" name="password" ng-model="user.password" required="" minlength="8"/>
					<div ng-messages="Form.password.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">Please enter your password.</div>
						<div ng-message="minlength" class="my-message">The password must be more than 8 characters long.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-icon-float md-block">
					<label>Verify Password: </label>
					<input required type="password" name="repassword" ng-model="repassword" compare-to="user.password"/>
					<div ng-messages="Form.repassword.$error">
						<div ng-message="required">Please enter your confirmation password.</div>
						<div ng-message="compareTo">Must match the previous entry</div>
					</div>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<md-radio-group layout="row" ng-model="user.role" name="role" required>
						<md-radio-button value="designer" class="md-primary">Designer</md-radio-button>
						<md-radio-button value="marketing">Marketing</md-radio-button>
					</md-radio-group>
					<div ng-messages="Form.role.$error">
						<div ng-message="required">Please select your role.</div>
					</div>
				</md-input-container>
				<md-button ng-disabled="!Form.$valid" ng-click="register()" class="md-raised md-primary">&nbsp Register &nbsp</md-button>
				<div class="content-divider text-muted form-group">
					<span>Already have account?</span>
				</div>
				<a ng-href="/#!/login">Login</a>
			</form>
		</md-card-content>
	</md-card>
</md-content>
